@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #fff;
}

body{
    background-color: #313131;
}


/* Moblie view css */
.mobile-view{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    /* border: 1px solid white; */
    padding: 20px;
    width: 60vw;
    max-width: 460px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    /* color: #fff; */
    border-radius: 10px;
    margin: 6px;
}

.search-box{
    display: flex;
    /* border: 1px solid red; */
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

#input-area{
    display: flex;
    outline: none;
    text-align: center;
    padding: 6px;
    color: rgb(117, 115, 115);
    width: 80%;
    display: flex;
    flex: 1;
    margin-right: 8px;
}

.search-icon{
    background-color: white;
    padding: 10px;
    color: black;
}

.weather-data{
    display: flex;
    flex-direction:column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    padding: 10px;
    /* row-gap: 12px; */
}

.weather-icon img{
    height: 100px;
    width: 100px;
    /* margin-bottom: 8px; */
    /* border: 1px solid black; */
    
}
.weather-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-bottom: 8px; */
}

.temperature{
    /* border: 1px solid black; */
    font-size: 38px;
}

.city-name{
    /* border: 1px solid black; */
    font-size: 28px;
}

.other-info{
    /* border: 1px solid black; */
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px 20px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}


.humidity, .wind{
    display: flex;
    align-items: last baseline;
    /* justify-content: center; */
    column-gap: 6px;
    /* border: 1px solid black; */
    flex-wrap: wrap;
}

.humidity img, .wind img{
    width: 35px;
    height: 35px;
    flex-wrap: wrap;
    /* object-fit: cover;
    object-position: center; */
    /* border: 1px solid black; */
}

.humidity-details, .wind-details{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
}

.humidity-details p, .wind-details p{
    display: flex;
}


/* DESKTOP VIEW CSS */


/* .navbar{
    height: 10vh;
} */



.input-div{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    /* box-sizing: border-box; */
}

.inputField{
    outline: none;
    color: black;
    width: 90%;
    height: 39px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.search-btn{
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
    border-left: 1px solid grey;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar ul{
    /* border: 2px solid black; */
    align-items: center;
    justify-content: center;
}


.desktop-view{
    border: 3px solid white;
    height: 65vh;
    width: 100vw;
    /* align-items: center; */
    align-items: start;
    justify-content: space-evenly;
}


.desktop-view picture img{
    height: 100px;
    width: 100px;
}
.desktop-view picture{
    /* border: 1px solid black; */
    /* height: 100px;
    width: 100px; */
    /* object-fit: contain;
    object-position: center; */
    display: flex;
    object-fit: contain;
    object-position: center;
}

.card-d{
    padding: 30px 50px;
    max-width: 460px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    border-radius: 10px;
    margin: 6px;
    box-shadow: 3px 3px 10px white,
    -3px -3px 10px white;
    outline: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: start; */
    justify-content: center;
    text-align: center;
    max-height: 350px;
    row-gap: 6px;
    margin-top: 10vh;
    /* flex-wrap: wrap; */
}

/* .humidity-icon img{
    height: 60px;
    width: 80px;
} */



/* .card-d h1{
    margin-top: -50px;

} */

.footer-section{
    border: 3px solid red;
    width: 100vw;
    /* height: 20vh; */
}